<h5>MDL Toggles</h5>
<div>
    <mdl-toggles-checkbox [checkbox]="toggle1"></mdl-toggles-checkbox>
    <br>
    <br>
    <mdl-toggles-checkbox [checkbox]="toggle2"></mdl-toggles-checkbox>
    <br>
    <br>
    <mdl-toggles-checkbox [checkbox]="toggle3"></mdl-toggles-checkbox>
    <br>
    <br>
    <mdl-toggles-checkbox [checkbox]="toggle4"></mdl-toggles-checkbox>
    <br>
    <br>
    <mdl-toggles-radio [radio]="toggle5"></mdl-toggles-radio>
    <mdl-toggles-radio [radio]="toggle6"></mdl-toggles-radio>
    <br>
    <br>
    <mdl-toggles-radio [radio]="toggle7"></mdl-toggles-radio>
    <mdl-toggles-radio [radio]="toggle8"></mdl-toggles-radio>
    <br>
    <br>
    <mdl-toggles-radio [radio]="toggle9"></mdl-toggles-radio>
    <mdl-toggles-radio [radio]="toggle10"></mdl-toggles-radio>
</div>