<h5>MDL Buttons</h5>
<div>
    <mdl-button [button]="button1"></mdl-button>
    <mdl-button [button]="button2"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button3"></mdl-button>
    <mdl-button [button]="button4"></mdl-button>
    <mdl-button [button]="button5"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button6"></mdl-button>
    <mdl-button [button]="button7"></mdl-button>
    <mdl-button [button]="button8"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button9"></mdl-button>
    <mdl-button [button]="button10"></mdl-button>
    <mdl-button [button]="button11"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button12"></mdl-button>
    <mdl-button [button]="button13"></mdl-button>
    <mdl-button [button]="button14"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button15"></mdl-button>
    <mdl-button [button]="button16"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button17"></mdl-button>
    <mdl-button [button]="button18"></mdl-button>
    <br>
    <br>
    <mdl-button [button]="button19"></mdl-button>
    <mdl-button [button]="button20"></mdl-button>
</div>