<h5>MDL Loading</h5>
<div>
    <mdl-loading-progress-bar #progressBarChild1 [loading]="loading1"></mdl-loading-progress-bar>
    <br>
    <br>
    <mdl-loading-progress-bar #progressBarChild2 [loading]="loading2"></mdl-loading-progress-bar>
    <br>
    <br>
    <mdl-loading-progress-bar #progressBarChild3 [loading]="loading3"></mdl-loading-progress-bar>
    <br>
    <br>
    <mdl-loading-spinner [loading]="loading4"></mdl-loading-spinner>
    <br>
    <br>
    <mdl-loading-spinner [loading]="loading5"></mdl-loading-spinner>
</div>